body {
  margin: 0;
  background: linear-gradient(#9DD6DF, white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lora', serif;
  font-family: 'Urbanist', sans-serif;
 
  font-size: medium;
}

code {
  font-family: 'Lora', serif;
 font-family: 'Urbanist', sans-serif;
}
